<article class="rental">
    <ActivityImage
        src="https://www.noje.se/uploads/articles/690cb5ac46925dce334afb2d0a5abea5.jpg"
        alt="En bild på varabadet från rutschkanorna"
    />
    <div class="details">
        <h3>Varabadet</h3>
        <div class="detail owner">
            <span>Pris:</span>Bad och lek för 20 spänn!
        </div>
        <div class="detail type">
            <span>Temperatur:</span>Alltid 24°C
        </div>
        <div class="detail location">
            <span>Address:</span>Johan brinksgata 21
        </div>
        <div class="detail bedrooms">
            <span>Kiosk:</span>God mat och knapriga snacks
        </div>
    </div>
</article>