<div class="body-container">
    <ContainerImage 
        src="https://statenskonstrad.se/app/uploads/2020/09/33979_grosse_jonsson_blue-orange_resecentrum_vara_2012-2-1024x692-1.jpg"
    />
    <ContainerImage 
        src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Vara_konserthus_2004.jpg"
    />
    <ContainerImage 
        src="https://usercontent.one/wp/psrig.com/wp-content/uploads/2018/12/AMB_top-1400x693.jpg"
    />
    <ContainerImage 
        src="https://images.vastsverige.com/publishedmedia/2i11lsg3l8vgrlwbmphh/Badhusparken_Vara.jpg"
    />
    <ContainerImage 
        src="https://bjertorpslott.se/media/1433/150519-_63a0211.jpg"
    />
    <ContainerImage 
        src="https://img.hotelspecials.se/93f8db9b251471d94f1da97c30660573.jpeg?w=800&h=528&c=1&quality=70"
    />
   
</div>