<article class="rental">
    <ActivityImage
        src="https://images.vastsverige.com/publishedmedia/3qw9k0snckcrjfs048jk/VaraKonserthus.jpg"
        alt="A picture of Varabadet"
    />
    <div class="details">
        <h3>Vara Konserthus</h3>
        <div class="detail owner">
            <span>Pris:</span> Beroende på konsert
        </div>
        <div class="detail type">
            <span>Allmänt:</span> Njut av vackra symfonier
        </div>
        <div class="detail location">
            <span>Address:</span> Allégatan 49
        </div>
        <div class="detail bedrooms">
            <span>Kiosk:</span> God mat och dryck
        </div>
    </div>
   <Map
    @lat="58.265707258352066"
    @lng="12.966781906960711"
    @zoom="14"
    @width="150"
    @height="150"
    alt="A map of the dream-city Vara"
    />  
</article>