<article class="rental">
    <ActivityImage
        src="https://www.noje.se/uploads/articles/690cb5ac46925dce334afb2d0a5abea5.jpg"
        alt="A picture of Varabadet"
    />
    <div class="details">
        <h3>Vara Utomhusbad</h3>
        <div class="detail owner">
            <span>Pris:</span> Bad och lek för 20 spänn
        </div>
        <div class="detail type">
            <span>Allmänt:</span> Alltid 24°C
        </div>
        <div class="detail location">
            <span>Address:</span> Johan Brinksgata 21
        </div>
        <div class="detail bedrooms">
            <span>Kiosk:</span> God mat och knapriga snacks
        </div>
    </div>
   <Map
    @lat="58.26289193564069"
    @lng="12.972965242853052"
    @zoom="14"
    @width="150"
    @height="150"
    alt="A map of the dream-city Vara"
    />  
</article>