<HeaderBar></HeaderBar>
<Jumbo>
    <h2>Om Vara</h2>
    <p>
        Vara är en vacker småstad med ett otroligt konstvärde, runt om i Vara finns olika verka skapade 
        av ett gäng konstnärer. Här kan du få det mesta du vill ha, förutom att ha roligt.
        Här kan du söka upp olika aktiviteter eller resturanger.  
    </p>
    <LinkTo @route="index" class="button">Startsida</LinkTo>
    <LinkTo @route="contact" class="button">Kontakta Oss</LinkTo>
</Jumbo>
