<Jumbo>
    <h2>Kontakta oss</h2>
    <p>
        Här på Varas turistbyrå vill vi gärna hjälpa dig med att hitta ett resmål <br>
        Har du några frågor? tveka inte att höra av dig, vi hjälper dig gärna. 
    </p>
    <address>
        Vara turistbyrå
        <p>
            Karlagatan 14
            534 31 Vara
        </p>
        <a href="tel:0761952197">0761952197</a>
    </address>
    <LinkTo @route="index" class="button">Startsida</LinkTo>
    <LinkTo @route="about" class="button">Om oss</LinkTo>
    <LinkTo @route="gallery" class="button">Galleri</LinkTo>
</Jumbo>
