<Jumbo>
    <h2>Galleri</h2>
    <p>
        H채r kan du se bilder p책 Vara och trots dessa bilder hoppas vi att du vill komma hit 채nd책. 
    </p>
    <LinkTo @route="index" class="button">Startsida</LinkTo>
    <LinkTo @route="about" class="button">Om oss</LinkTo>
    <LinkTo @route="contact" class="button">Kontakta oss</LinkTo>
</Jumbo>
<Container>
    <div class="img-container">
    <article class="rental">
        <h3>Kommunhuset</h3>
    <ActivityImage 
        src="https://vara.se/innehall/2016/06/Minskad-brottslighet.jpg"
    />
    <h3>Bjertorp</h3>
    <ActivityImage
        src="https://webbarkiv.vara.se/content/images/cache/afaa22e0-8c3a-4f48-826b-137c46ebf56b.jpg"
    />
    </article>
    </div>

</Container>