<Jumbo>
    <h2>Galleri</h2>
    <p>
        H채r kan du se bilder p책 Vara och trots dessa bilder hoppas vi att du vill komma hit 채nd책. 
    </p>
    <LinkTo @route="index" class="button">Startsida</LinkTo>
    <LinkTo @route="about" class="button">Om oss</LinkTo>
    <LinkTo @route="contact" class="button">Kontakta oss</LinkTo>
</Jumbo>
<Container
    src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png"
    alt="A picture of"
/>
